[Desktop Entry]
Name[ar]=تيليكس
Name[az]=Tilix
Name[bg]=Tilix
Name[bs]=Tilix
Name[ca]=Tilix
Name[cs]=Tilix
Name[da]=Tilix
Name[de]=Tilix
Name[el]=Tilix
Name[en_AU]=Tilix
Name[en_CA]=Tilix
Name[en_GB]=Tilix
Name[he]=טיליקס
Name[ru]=Телекс

Name=Tilix
TryExec=tilix
Exec=tilix -w %u
Icon[bs]=com.gexperts.Tilix
Icon[ca]=com.gexperts.Tilix
Icon[cs]=com.gexperts.Tilix
Icon[da]=com.gexperts.Tilix
Icon[de]=com.gexperts.Tilix
Icon[en_AU]=com.gexperts.Tilix
Icon[en_CA]=com.gexperts.Tilix
Icon[en_GB]=com.gexperts.Tilix
Icon[es]=com.gexperts.Tilix
Icon[fi]=com.gexperts.Tilix
Icon[fr]=com.gexperts.Tilix
Icon[gl]=com.gexperts.Tilix
Icon[he]=com.gexperts.Tilix
Icon[hi]=com.gexperts.Tilix
Icon[hu]=com.gexperts.Tilix
Icon[id]=com.gexperts.Tilix
Icon[it]=com.gexperts.Tilix
Icon[ja]=com.gexperts.Tilix
Icon[ko]=com.gexperts.Tilix
Icon[lt]=com.gexperts.Tilix
Icon[mo]=com.gexperts.Tilix
Icon[mr]=com.gexperts.Tilix
Icon[nb]=com.gexperts.Tilix
Icon[nn]=com.gexperts.Tilix
Icon[pl]=com.gexperts.Tilix
Icon[pt_BR]=com.gexperts.Tilix
Icon[pt]=com.gexperts.Tilix
Icon[ru]=com.gexperts.Tilix
Icon[sv]=com.gexperts.Tilix
Icon[tr]=com.gexperts.Tilix
Icon[zh_CN]=com.gexperts.Tilix
Icon[zh_TW]=com.gexperts.Tilix
Icon=com.gexperts.Tilix
Type=Application
StartupNotify=true
X-GNOME-Gettext-Domain=tilix
NoDisplay=true
MimeType=inode/directory;
